.formSelect {
  display: flex;
  gap: 12px;
}

.form {
  padding: 16px;
  background-color: var(--main-bg);
  color: black;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0, 0.1);

}

.containerProduct {
  max-height: 250px;
  overflow-y: scroll;
}

.btnContainer {
  text-align: right;
}

.btnSalvar,
.btnClose {
  width: 100px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0, 0.2);

}

.btnSalvar {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  margin-left: 4px;

}

.btnClose {
  align-self: flex-end;
  background-color: var(--second-color)
}

.btnSalvar:hover {
  background-color: var(--main-color-hover);
}

.btnClose:hover {
  background-color: var(--second-color-hover);
}

.btnAddProduct {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 16px 0px;
  color: var(--main-color);
}

.btnAddProduct:hover {
  text-decoration: underline;
  color: var(--main-color-hover);

}