.container {
  margin-bottom: 1rem;
}

.input {
  border: rgb(0, 0, 0, 0.2) solid 1px;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #eee;
  transition: 0.2s;
}

.selectContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 4px;
  align-items: center;

}

.selectContainer .label {
  grid-column: 1/-1;
}

.btnProduct {
  border-radius: 8px;
  padding: 8px 16px;
  color: #fff;
  background-color: var(--main-color);
  border: 1px solid transparent;
  transform: scale(0.9);
}

.btnProduct:focus,
.btnProduct:hover {
  border: 1px solid black;
  transform: scale(1);
  transition: 0.1s ease-in-out;


}

.input:focus,
.input:hover {
  outline: none;
  border: rgb(0, 0, 0, 0.4) solid 1px;
  box-shadow: 0 0 0 3px var(--second-color);

}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.checkBoxProduct {
  display: flex;
  gap: 4px;
  flex-direction: column;
  max-height: 250px;
  overflow-y: scroll;
  margin-top: 8px;
  margin-bottom: 8px;

}