.container {
  padding: 8px 12px;
  grid-row: 1;
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  opacity: 0;
  transform: translateY(14px);
  animation: fadeIn 0.3s ease forwards;

}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

svg {
  height: 36px;
}

.pageTitle {
  font-size: 2.5rem;
  /* background-color: #FFF; */
}

@media (max-width:900px) {
  .container {
    padding: 4px 8px;
  }
}

@media (max-width:700px) {
  .container {
    grid-column: 1 / -1;
    gap: 8px;
    padding: 0px 8px;

  }

  .mobileTitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* background-color: #FFF; */
    margin-top: 8px;
    border-radius: 8px;
  }

  .pageTitle {
    font-size: 1.5rem;
    text-align: center;
  }

}