.container {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* grid-column: 1/-1; */
  /* grid-row: 1; */
  display: flex;
  justify-content: space-between;
  padding: 24px 48px;
  font-size: 2rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.logoContainer,
.accountContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.container svg {
  width: 50px;
  height: 50px;
}

.link {
  font-size: 1.5rem;
  color: black;
  /* padding: 8px 12px; */

}

@media (max-width:1200px) {
  .container {
    font-size: 1.6rem;
  }

  .logoContainer,
  .accountContainer {
    gap: 8px;
  }

  .container svg {
    width: 44px;
    height: 44px;
  }

  .link {
    font-size: 1.5rem;
    color: black;
    /* padding: 4px 8px; */

  }
}

@media (max-width:900px) {
  .container {
    font-size: 1.6rem;
    padding: 16px 28px;

  }

  .logoContainer,
  .accountContainer {
    gap: 8px;
  }

  .container svg {
    width: 44px;
    height: 44px;
  }

  .link {
    font-size: 1.5rem;
    color: black;
    padding: 4px 8px;

  }
}

@media (max-width:900px) {
  .container {
    font-size: 1.2rem;
    padding: 8px 28px;

  }

  .container svg {
    width: 28px;
    height: 28px;
  }

  .link {
    font-size: 1.2rem;

  }
}

@media (max-width:400px) {
  .container {
    font-size: 1rem;
    padding: 8px 16px;

  }

  .link {
    font-size: 1rem;

  }

  .logoContainer,
  .accountContainer {
    gap: 0px;
  }

  .container svg {
    width: 28px;
    height: 28px;
  }

  .container a {
    font-size: 1rem;
    padding: 4px 8px;

  }
}