.container {
  /* grid-template-columns: 1; */
  /* temporary */
  height: 70vh;
  padding: 24px 32px;
  border-right: 1px solid rgb(0, 0, 0, 0.1);
  margin-top: 16px;
  color: var(--p-txt-color)
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

a {
  color: inherit;
}



.link {
  width: 316px;
  height: 60px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.4rem;
  border-radius: 12px;
  transition: color 0.5s ease-out, background-color 0.5s ease-out;

}

.link.active {
  background-color: #0D9488;
  color: #fff;

}

.link.active svg path {
  fill: #fff;
}

svg path {
  transition: fill 0.5s ease-out;
}

li svg {
  height: 36px;
}