.container {
  /* padding: 8px 4px; */

}

.exportContainer {
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  width: fit-content;
  /* padding: 8px; */
  /* margin: 4px 16px; */
  border-radius: 8px;
  background-color: white;
}

svg {
  height: 36px;
}

.tableContainer {
  background-color: #FFF;
  overflow-y: scroll;
  grid-column: 2/-1;
  grid-row: 1;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



tr:nth-child(even) {
  background-color: #dddddd;
}

.navContainer {
  display: flex;
  gap: 16px;
  background-color: #FFF;
}

.pageTitle {
  font-size: 2.5rem;
  background-color: #FFF;

}

.select {
  max-width: fit-content;
  border: none;
  background-color: inherit;
  outline: none;
  cursor: pointer;
  box-sizing: initial;

}

.selectContainer {
  display: flex;
  align-items: center;
  border: rgb(0, 0, 0, 0.2) solid 1px;
  border-radius: 8px;
  /* background-color: #ffffff85; */
  padding: 8px 12px;
  height: 50px;

}

.pageTitle,
.navContainer,
.tableContainer {
  padding: 8px 16px;

}

.selectContainer:hover {
  background-color: #FFF;

}


.buttonAdd {
  background-color: var(--main-color);
  color: #FFF;
  padding: 8px 24px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.buttonAdd:hover {
  background-color: var(--main-color-hover);
}

@media (max-width:1000px) {

  .selectContainer {
    padding: 8px
  }

  .navContainer {
    gap: 8px;
  }

  .pageTitle,
  .navContainer,
  .tableContainer {
    padding: 8px;

  }

  .buttonAdd {
    padding: 4px 18px;
  }
}

@media (max-width:800px) {


  .pageTitle,
  .navContainer,
  .tableContainer {
    padding: 4px;

  }

  .buttonAdd {
    padding: 4px 12px;
    font-size: 1rem;
  }

  .selectContainer {
    padding: 4px;
  }

  .select {
    max-width: 120px;

  }
}



@media (max-width:700px) {
  .container {
    grid-column: 1 / -1;
  }

  .mobileTitle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF;
    margin: 12px;
    border-radius: 8px;
    padding: 8px 0px;
  }

  .navContainer {
    background-color: #FFF;
    margin: 12px;
    border-radius: 8px;
    justify-content: space-evenly;
    padding: 8px 0px;
    border: rgb(0, 0, 0, 0.2) solid 1px;

  }

  .pageTitle {
    font-size: 2rem;
  }

  .buttonAdd {
    padding: 12px 24px;
  }

  .selectContainer {
    height: 40px;
    border: none;
  }

}

@media (max-width:500px) {



  .navContainer {
    display: flex;
    justify-content: space-evenly;
  }

  .selectContainer {
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    box-sizing: initial;
    height: 40px;
  }


}