.tableContainer {
  background: #eee;
  overflow-x: scroll;
  grid-column: 2/-1;
  min-height: 450px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.produtos p {
  text-align: left;
}

svg {
  width: 24px;
}

.ulContainer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px
}


.buttonPage {
  padding: 4px 8px;
  font-weight: bold;
  border: #16ab9f solid 2px;
  border-radius: 4px;

}

.buttonPage.active {
  background-color: #0F766E;
  color: white;
}

.buttonPage:hover {
  border: rgb(0, 0, 0, 0.5) solid 2px;

}

@media (max-width:700px) {
  .tableContainer {
    flex: 1;
    min-height: initial;
  }
}